.apple-podcasts--screens {
  @media (min-width: 767px) {
    background: url('../images/apple-podcast-screens.jpg') no-repeat right center;
    background-size: 45%;
  }
}

.spotify--screens {
  margin-top: 100px;
  @media (min-width: 767px) {
    background: url('../images/spotify-screens.jpg') no-repeat left center;
    background-size: 45%;
  }

}
