.bg-light-colour {
  background-color: #FFCC70;
  background-color: #938FBD;
  padding: 20px 20px;
  .bg-light-colour--box {
    background: #fff;
    max-width: 1400px;
    border-radius: 24px;
    margin: 10px auto;
    padding: 60px 20px;
  }
}

img {display: block;}
