#two {
  // background: #e3e3e3;
  // padding: 40px;
  .row {
    align-items: center;
  }
}


.problem-statement {
  background: #C850C0;
  padding: 80px 20px;
  @include wider-row;
  margin: 0 auto;
  background-color: #4158D0;
  background-color: #383A59;
  border-radius: 24px;
  p, h2 {
    color: #fff;
    max-width: 42rem;
  }
}
