#two {
  // background: #e3e3e3;
  // padding: 40px;
  .row {
    align-items: center;
  }
}


.problem-statement {
  background: #C850C0;
  padding: 80px 20px;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #FFCC70;
  border-radius: 24px;
  p, h2 {
    color: #111;
    max-width: 42rem;
  }
  .problem-statement--text {
    p {
      font-size: 1.5rem;
      line-height: 3rem;
    }
  }
}
