.survey {
  .bigger--text {
    // max-width: 42rem;
  }
}

.stats {
  .revealer--enlarge {
    img {
      @media (max-width: 576px) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
