html,
body {
  background: #101013;
}
body {
  margin: 0;
}

#page-top {
  overflow: hidden;
}

.black-bg {
  background: #000;
}

.au-grid {
  .container {
    width: 100%;
    padding: 0;
    @mixin for-tablet-landscape-down {
      padding-left: 0;
      padding-right: 0;
      box-sizing: content-box;
    }
  }
  .row {
    @mixin for-tablet-landscape-down {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.dialog-off-canvas-main-canvas {
  overflow: hidden;
}

#homepage-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
}

.inner {
  margin: 0 auto;
  max-width: 1198px;
}
