// primary
$body-color:    #fff;
$orange:        #DD6C25;
$green-cta:        #53e497;
$red:           #111;
$green:         #6BA48A;

// brand colours only
$brand-orange:          #DC5827;
$brand-yellow-dark:     #E28F38;
$brand-yellow:          #E09F3A;

//misc colours
$light-grey:            #efefef;
$darker-grey:           #d2d4d5;
$grey:                  #e3e3e3;
$border-color:          #b2b2b2;

// Typography
$h1-size:               80px;
$h2-size:               57px;
$h3-size:               33px;
$h4-size:               27px;
$h5-size:               15px;

$body-size:             1.125rem;
$h3-content:            23px;

$small-font:            16px;

$site-font:             "Lato", sans-serif;
$body-font:             "Open Sans", sans-serif;
