footer {
  margin-top: 100px;
  padding: 50px 0 100px;
  background: #000;
  .footer-logo {
    img {
      max-width: 108px;
    }
  }
   a {
     color: #fff;
     text-decoration: underline;
     &:hover {
       color: #ee582e;
     }
   }
  .navbar-nav {
    display: block;
  }
  .nav-item {
    display: inline-block;
    margin: 20px;
    border: none!important;
    a {
      font-size: 30px;
    }
  }
}
