#mausoleum {
  background: url('../images/mausoleum.jpg') no-repeat center center;
  background-size: cover;
  @media (min-width: 767px) {
    background-position: left center;
    background-size: 50%;
  }
  @media (max-width: 575px) {
    text-shadow: 1px 1px 20px #000;
    padding: 50px 0;
  }
  padding: 150px 0;
  .inner {
    position: relative;
    z-index: 2;
  }
  position: relative;
  &:before {
    content: " ";
    display: block !important;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0 !important;
    opacity: 1;
    width: 100% !important;
    height: 100vh !important;
    border: none !important;
    opacity: .6;
    background: rgb(35,31,32);
    @media (min-width: 575px) {
      opacity: 1;
      width: 50% !important;
      background: black;
      background: rgb(35,31,32);
      background: -moz-linear-gradient(270deg, rgba(35,31,32,1) 0%, rgba(35,31,32,0) 30%);
      background: -webkit-linear-gradient(270deg, rgba(35,31,32,1) 0%, rgba(35,31,32,0) 30%);
      background: linear-gradient(270deg, rgba(35,31,32,1) 0%, rgba(35,31,32,0) 30%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#231f20",endColorstr="#231f20",GradientType=1);
    }

  }
  overflow: hidden;

  > .row {
    align-items: center;
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    max-width: 1198px;
    margin: 0 auto;
  }
  .banner--text {
    padding: 20px;

  }
  .display-text {
    margin: 50px 0;
    font-size: 6.125rem;
  }
}
