#numerous-ghouls {
  background: rgb(238,88,46);
  background: -moz-linear-gradient(90deg, rgba(238,88,46,1) 0%, rgba(120,49,135,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(238,88,46,1) 0%, rgba(120,49,135,1) 100%);
  background: linear-gradient(90deg, rgba(238,88,46,1) 0%, rgba(120,49,135,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ee582e",endColorstr="#783187",GradientType=1);
  @media (max-width: 575px) {
    margin-top: -100px;
    position: relative;
    z-index: 1;
    padding: 0 20px;
  }
  .row {
    align-items: flex-end;
  }
  .large-text {
    padding: 100px 0 30px;
  }
}


@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}


.ghoulies-list {
  .ghoul {
    display: inline-block;
    width: 41.333%;
    margin-right: -20%;
    @media (max-width: 575px) {
      animation: none!important;
      width: 47.333%;
    }


    &.revealed {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-duration: 2s;
    }
    img {
      display: block;
    }
  }
  .ghoul--2 {
    animation:fadein -.25s 2s;
  }
  .ghoul--3 {
    animation:fadein -.5s 2s;
  }
}
