#roadmap {
  padding: 100px 0;
  @media (max-width: 575px) {
    padding: 60px 0 10px;
  }
  .inner > .row {
    margin: 0 auto;
    width:100%;
    box-sizing: border-box;
    .revealer {
      @media (max-width: 575px) {
        opacity: 1!important;
        -moz-transform: translateY(0rem)!important;
        -webkit-transform: translateY(0rem)!important;
        -ms-transform: translateY(0rem)!important;
        transform: translateY(0rem)!important;
        -moz-transform: translateX(0rem)!important;
        -webkit-transform: translateX(0rem)!important;
        -ms-transform: translateX(0rem)!important;
        transform: translateX(0rem)!important;
      }
    }
  }
}

.large-text .roadmap--item,
.roadmap--item {
  margin-bottom: 60px;
  @media (max-width: 575px) {
    display: inline-block;
    max-width: 72%;
    vertical-align: text-top;
  }

  p {
    line-height: 2.1rem;
    @media (max-width: 575px) {
      line-height:1.5rem;
      font-size: 18px;
    }
    &:first-child {
      @media (max-width: 575px) {
        margin-top: 0;
      }
    }
  }
}
.roadmap--items {
  margin-top: 40px;
  font-size: 20px;
  @media (max-width: 575px) {
    margin-bottom: 40px;
  }

}
.roadmap--image {
  img {
    border-radius: 20px;
    @media (max-width: 575px) {
      max-width: 90%;
      margin-bottom: 20px;
      position: relative;
      top: -10px;
    }
  }
  @media (max-width: 575px) {
    vertical-align: text-top;
    display: inline-block;
    max-width: 25%;
  }
}


// milestones
#milestones {
  padding: 100px 0 50px;
  @media (max-width: 575px) {
    padding: 60px 0 10px;
  }

}
span.number {
  z-index: 2;
  position: relative;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 68px;
  font-weight: 800;
  margin-bottom: 15px;
  @media (max-width: 575px) {
    font-size: 48px;
    margin-bottom: 15px;
  }

}
