
#specs {
  @media (max-width: 575px) {
    padding: 20px;
  }
  .specs--images {
    background: url('../images/specs-bg.png') no-repeat center center;
    background-size: 100%;
  }
  .floater {
    @media (min-width: 575px) {
      transform: translatey(0px);
      animation: float 6s ease-in-out infinite;
    }

  }
}
