#team .inner .row {
  margin: 0 auto;
  width:100%;
  box-sizing: border-box;
  @media (max-width: 575px) {
    display: block;
  }
  .revealer {
    @media (max-width: 575px) {
      opacity: 1!important;
      -moz-transform: translateY(0rem)!important;
      -webkit-transform: translateY(0rem)!important;
      -ms-transform: translateY(0rem)!important;
      transform: translateY(0rem)!important;
      -moz-transform: translateX(0rem)!important;
      -webkit-transform: translateX(0rem)!important;
      -ms-transform: translateX(0rem)!important;
      transform: translateX(0rem)!important;
    }
  }
}



.large-text .founder--item,
.founder--item {
  margin-bottom: 60px;
  p {
    line-height: 2.5rem;
  }
}
.founder--name {
  font-family: 'Bangers', cursive;
  font-size: 1.5rem!important;
  margin-bottom: 0!important;
}
.founder--items {
  margin-top: 40px;
  align-items: flex-end;
}
.project--title {
  font-style: italic;
  font-size: 16px!important;
  margin-top: 0px!important;
}
.founder--image {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 5px;
  background: rgb(238,88,46);
  background: -moz-linear-gradient(90deg, rgba(238,88,46,1) 0%, rgba(120,49,135,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(238,88,46,1) 0%, rgba(120,49,135,1) 100%);
  background: linear-gradient(90deg, rgba(238,88,46,1) 0%, rgba(120,49,135,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ee582e",endColorstr="#783187",GradientType=1);
  border-radius: 600px;
  img {
    display: block;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 600px;
  }
}

.founder--links {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  &:hover {
    cursor: pointer;
    .founder--image {
      background: rgb(46,238,128);
    }
  }
}

.team--additions {
  max-width: 70%;
  margin: auto;
}
