/* Style the buttons that are used to open and close the accordion panel */
.accordion--group {
  margin: 40px auto;
}
.accordion {
  background-color: #eee;
  color: #fff;
  background: #231F20;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  padding: 28px 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: $h4-size;
  display: block;
  &:hover {
    color: #ee582e!important;
    background: #231F20!important;
    cursor: pointer;
  }
  &:after {
    content: '\02795';
    font-size: 25px;
    background: #231F20!important;
    float: right;
    margin-left: 5px;
    color: #783187!important;
  }
  &.active:after {
    content: "\2796";
  }
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  color: #fff;
  background: #231F20!important;
}


.active:focus {
  color: #fff;
  background: #231F20!important;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background: #231F20;
  border-bottom: 1px solid #4e4e4e;
  p {
    font-size: 1.2em;
    line-height: 2em;
    margin-bottom: 40px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 40px;
    }
  }
}
