.large-text .roadmap--item,
.roadmap--item {
  margin-bottom: 60px;
  p {
    line-height: 2.5rem;
  }
}
.roadmap--items {
  margin-top: 40px;
}
.roadmap--image {
  img {
    border-radius: 20px;
  }
}
